.bgvideo{
	position: fixed;
	right:0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -2;
}

.full{
	position:fixed;
	right:0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;	
}

.header{
	position:static;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height:auto;	
}

.spartan{
	left: 300;
}

.teaser{
	display:block;
	position: relative;
	bottom: -300px;
	right: -350px;
	margin-left: auto;
	margin-right: auto;
	max-height: 75%;
	max-width: 75%;	
	
	width: auto;
	height:auto;
}

.discord{
	display:block;	
	position: relative;
	bottom: -380px;
	right: -350px;
	margin-left: auto;
	margin-right: auto;
}

center{
	
	
	margin-top: auto;
	margin-left: auto;
	margin-right: 100px;
	margin-bottom: auto;
}